body{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1,42;
  background: #001821;
}

a{
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

p{
  margin-top: 0;
}

*{
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 1142px;
}

.heder{
  height: 123px;
  position: relative;
}

.logo{
  display: block;
  position: absolute;
  top: 29px;
  left: 0px;
}

.logo__pic{
  height: 36px;
  width: 85px;
}

.menu{
  position: absolute;
  top: 42px;
  left: 115px;
}

.contacts__workhours{
  position: absolute;
  top: 27px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 54px;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__link{
  text-decoration: none;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.workhours{
  font-size: 13px;
  text-decoration: underline;
}

.header__pages{
  width: 511px;
  margin-top: 150px;
  margin-bottom: 246px;
}

.header__pages-title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 26px;
}

.header__pages-text{
  font-size: 18px;
  margin-bottom: 45px;
}

.btn{
  font-size: 14px;
  background:  #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--red{
  background:  #F5170E;
  color: #fff;
}

.tours{
  margin-bottom: 127px;
  display: inline-block;
}

.tours__title-text{
  font-size: 36px;
  font-weight: bold;
}

.tours__title-icon{
  width: 21px;
  height: 28px;
}

.tours__title{
  margin-bottom: 51px;
}

.tour__item{
  min-height: 449px;
  background: #fff;
  border-radius: 0px, 0px, 5px, 5px;
  display: inline-block;
  margin-right: 23px;
  width: 362px;
  color: #000;
}

.tour__item:last-child{
  margin-right: 0;
}

.tour__image{
  min-height: 144px;
  margin-bottom: 33px;
}

.tour__content{
  padding: 26px 22px;
}

.tour__title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
}

.tour__deskription-cell{
  display: inline-block;
  vertical-align: top;
  margin-right: 28px;
  color: #666;
  font-size: 16px;
}

.tour__deskription-cell:last-child{
  margin-right: 0;
}

.tour__deskription-icon{
  margin-right: 10px;
}

.tour__deskription{
  margin-bottom: 23.5px;
}

.tour__content-text{
  font-size: 14px;
  color:  #303030;
  margin-bottom: 24.5px;
}

.btn--color--wihte{
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.btn--color--wihte:hover{
  background:  #F5170E;
  color: #fff;
}

.events__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.news{
  margin-bottom: 53px;
}

.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 23px;
}

.news__item:last-child{
  margin-right: 0;
}

.news__cover{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 47.5px 31px;
  min-height: 140px;
}

.news__date{
  font-size: 14px;
  margin-bottom: 12px;
}

.news__title{
  font-size: 24px;
  margin-bottom: 3.5px;
}

.paginator{
  text-align: center;
}

.paginator__display, .paginator__list{
  display: inline-block;
  vertical-align: middle;
}

.paginator__display{
  margin-right: 36px;
}

.paginator__item{
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link{
  background: #fff;
  color: #F5170E;
}

.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about__cover{
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  object-fit: cover;
  border-radius: 5px;
}

.about__cover-img{
width: 100%;
height: 100%;
}

.about__desc{
  display: inline-block;
  vertical-align: top;
  padding: 70px 81px;
  width: 785px;
  height: 455px;
  border-radius: 5px;
}

.about__title{
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 37px;
  color: #000;
}

.abot__desc__text{
color: #000;
position: absolute;
margin-bottom: 43px;
}

