body{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1,42;
  background: #001821 center;
  background: url("./image/elephant.png") center top no-repeat, url("./image/2.png") center bottom no-repeat;;;
}

a{
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

p{
  margin-top: 0;
}

*{
  box-sizing: border-box;
}



.wrapper{
  margin: 0 auto;
  width: 1142px
}

.header{
  display: flex;
  align-items: center;
  min-height: 123px;
  margin-top: 26px;
  margin-bottom: 46px;
}

.menu{
  margin-left: 79px;
}

.menu__list{
  display: flex;
}

.menu__item:not(:last-child){
  margin-right: 54px;
}

.menu__link{
  text-decoration: none;
  font-size: 14px;
}

.contacts__workhours{
  margin-left: auto;
}

.contacts__phone{
  font-size: 26px;
  text-decoration: none;
  font-style: normal;
}

.workhours{
  text-decoration: underline;
  font-size: 13px;
  text-align: right;
  font-style: normal;
}

.header__pages{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 511px;
  min-height: 333px;
  margin-bottom: 246px;
}

.header__pages-title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 27px;
}

.header__pages-text{
  font-size: 18px;
  margin-bottom: 33px;
}

.btn{
  font-size: 14px;
  background:  #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--red{
  background:  #F5170E;
  color: #fff;
}

.tours{
  margin-bottom: 127px;
  display: flex;
  flex-direction: column;
}

.tours__title{
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.tours__title-text{
  font-size: 36px;
  font-weight: bold;
}

.tours__title-icon{
  width: 21px;
  height: 28px;
  margin-left: 12px;
}

.tours__list{
  display: flex;
}

.tour__item{
  min-height: 449px;
  background: #fff;
  border-radius: 0px, 0px, 5px, 5px;
  min-width: 362px;
  color: #000;
}

.tour__item:not(:last-child){
  margin-right: 27px;
}

.tour__image{
  min-height: 144px;
  margin-bottom: 5px;
}

.tour__content{
  padding: 26px 22px;
}

.tour__title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;
}

.tour__description__sec{
 display: flex;
 margin-right: 28px;
}

.tour__description__sec-cell{
  display: flex;
  color: #666;
  font-size: 16px;
  margin-bottom: 23px;
}

.tour__description__sec-cell:not(:last-child){
  margin-right: 28px;
}

.tour__description__sec-icon{
  margin-right: 10px;
}

.tour__description-text{
  font-size: 14px;
  color:  #303030;
  margin-bottom: 40px;
}

.btn--color--white{
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.btn--color--white:hover{
  background:  #F5170E;
  color: #fff;
}

.events{
  display: flex;
  flex-direction: column;
}

.events__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.news{
  display: flex;;
  margin-bottom: 53px;
}

.news__item{
 min-width: 557px;
 display: inline-block;
 vertical-align: top;
 position: relative;
 border-radius: 5px;
 overflow: hidden;
 margin-right: 23px;
}

.news__item:last-child{
  margin-right: 0;
}

.news__cover{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 47.5px 31px;
  min-height: 140px;
}

.news__date{
  font-size: 14px;
  margin-bottom: 20px;
}

.news__title{
  font-size: 24px;
  margin-bottom: 3.5px;
}

.paginator{
 text-align: center;
 margin-bottom: 124px;
}

.paginator__display, .paginator__list{
  display: inline-block;
  vertical-align: middle;
}

.paginator__display{
  margin-right: 36px;
}

.paginator__item{
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link{
  background: #fff;
  color: #F5170E;
}

.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.footer-container{
 border-top: 1px solid #fff;
 border: top opacity 10%;
}

.footer{
  display: flex;
  height: 95px;
  margin-bottom: 57px;
  align-items:flex-end;
}

.socials{
 display: flex;
 margin-left: 274px;
}

.socials__item{
  display: flex;
}

.socials__item:not(:last-child){
  margin-right: 10px;
}

.socials__link{
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link{
  background-image: url(./image/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover{
  background-image: url(./image/t-h.png);
}

.socials__item--icon--vk .socials__link{
  background-image: url(./image/vk.png);
}

.socials__item--icon--vk .socials__link:hover{
  background-image: url(./image/vk-h.png);
}

.socials__item--icon--fb .socials__link{
  background-image: url(./image/f.png);
}

.socials__item--icon--fb .socials__link:hover{
  background-image: url(./image/f-h.png);
}

.socials__item--icon--insta .socials__link{
  background-image: url(./image/in.png);
}

.socials__item--icon--insta .socials__link:hover{
  background-image: url(./image/in-h.png);
}

.contacts__info{
  margin-left: auto;
}

.info{
  font-size: 11px;
  color: #9A9A9A;
  text-align: right;
  font-style: normal;
}

.contacts__phone{
  font-size: 26px;
}

