.reviews{
  column-count: 2;
  column-gap: 30px;
}

.reviews__item{
  margin-bottom: 20px;
}

.review{
  display: inline-flex;
  flex-direction: column;
  padding: 50px 28px;
  background: #F4F5F5;
}

.review__header{
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.avatar{
  height: 142px;
  width: 142px;
  overflow: hidden;
  border-radius: 50%;
}

.review__user{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 12px;
}

.review__user:after{
  content: url("../image/vk-blue.png");
  height: 30px;
}

.review__tags{
  display: flex;
  align-items: flex-start;
}

.review__title{
  font-size: 30px;
  color: #1A1B1E;
  font-weight: bold;
  margin-bottom: 13px;
}

.review__content-text{
  margin-bottom: 49px;
}

.review__date{
  font-size: 14px;
  color:#1A1B1E;
  font-weight: 600;
}