.service{
  display: flex;
  flex-direction: column;
}

.service__item{
  display: flex;
}

.service__item:not(:last-child){
margin-bottom: 49px;
}

.service__img{
  width: 40%;
  margin-right: 7%;
}

.service__desc{
  flex: 1;
}

.service__title{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #000;
}

.service__text{
  line-height: 1.7;
  margin-bottom: 35px;
  min-width: 652px;
}