.top-line{
  min-height: 418px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background: url(../../image/headline\ 1.png) center top no-repeat;
  background-size: cover;
}

.top-line__container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title{
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}